#card-skill{
    /* position: absolute;
    right: -6px;
    bottom: -5px; */
    width: 800px;
    height: 325px;
    justify-content: center;
    /* border-radius: 30px; */
    background-color: rgba(0, 0, 0, 0.36);
}
.img-skill{
    position: relative;
    padding: 5px;
    top: 30px;
    /* bottom: 10px; */
    height: 200px;
    width: 200px;
    left: 30px;
    /* border-radius: 30px; */
    border: 5px solid blue;
    background-color: white;
}
.txt-skill{
    position: relative;
    left: 260px;
    bottom: 180px;
    width: 520px;
    font-weight:500;
    color: white;   
}
.main-skills{
    height: 325px;
    margin-top: 30px;
}
.ttl-skill{
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 255, 0.542);
}
.txtt{
    display: flex;
    flex-wrap: wrap;
}
.txtt-flex{
    display: inline-flex;
    margin: 5px;
    width: 125px;
}
@media (max-width: 749px){
    #card-skill{
        align-content: center;
        width: 380px;
        height: 370px;
    }
    .img-skill{
        height: 100px;
        width: 100px;
        left: 5px;
    }
    .txt-skill{
        left: 110px;
        bottom: 100px;
        width: 265px;
        height: 600px;
    }
    .txtt-flex{
        width: 75px;
    }
}
